{% for message in messages %}
    <div class="alert alert-info mb-0 text-center" role="alert">
        {{ message }}
    </div>
{% endfor %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler mb-1" data-toggle="collapse" data-target="#navbarForCvBuilder">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-center" id="navbarForCvBuilder">
        <ul class="nav navbar-nav">
            <a style="margin-left:-16px;" class="btn btn-outline-light mr-1 mt-1 mb-1" href="{% url 'cvbuilder:MainPage' %}"><i class="fas fa-eye"></i> Resume Details</a>
            <a class="btn btn-outline-success mr-1 mt-1 mb-1" href="{% url 'cvbuilder:CreateExperience' %}"><i class="fas fa-plus"></i> Add Experience</a>
            <a class="btn btn-outline-success mr-1 mt-1 mb-1" href="{% url 'cvbuilder:CreateSkill' %}"><i class="fas fa-plus"></i> Add Skill</a>
            <a class="btn btn-outline-success mr-1 mt-1 mb-1" href="{% url 'cvbuilder:CreateEducation' %}"><i class="fas fa-plus"></i> Add Education</a>
            <a class="btn btn-outline-success mr-1 mt-1 mb-1" href="{% url 'cvbuilder:CreateLanguage' %}"><i class="fas fa-plus"></i> Add Language</a>
            <a class="btn btn-outline-success mr-1 mt-1 mb-1" href="{% url 'cvbuilder:CreateAchievement' %}"><i class="fas fa-plus"></i> Add Achievement</a>
            <a class="btn btn-outline-success mr-1 mt-1 mb-1" href="{% url 'cvbuilder:CreatePublication' %}"><i class="fas fa-plus"></i> Add Publication</a>
            <a class="btn btn-outline-warning mr-1 mt-1 mb-1" href="{% url 'cvbuilder:ResumePreview' %}"><i class="fas fa-search"></i> Preview Your Resume</a>
            <a style="margin-top:0.5%" href="{% url 'cvbuilder:logout' %}"><svg width="34" height="34" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H15" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                <path d="M16 17L21 12L16 7" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                <path d="M21 12H9" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
              </svg>
            </a>
            <a style="margin-top:0.5%" href="/accounts/email/"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
            </svg></a>
    </div>
</nav>